<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="DocsToRetrieve" type="AppConfigTest.DocsToRetrieveSection, AppConfigTest" />
	</configSections>
	<DocsToRetrieve>
		<DocType Name="v1" DocType="type" savePath="path">
			<CustomFields>
				<add Name="field1" Keyword="a"/>
				<add Name="field2" Keyword="b"/>
			</CustomFields>
		</DocType>
		<DocType Name="v2" DocType="type" savePath="path">
			<CustomFields>
				<add Name="field1" Keyword="a"/>
				<add Name="field2" Keyword="b"/>
			</CustomFields>
		</DocType>
	</DocsToRetrieve>
</configuration>